In [64]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.decomposition import PCA

%matplotlib inline

In [37]:
df = pd.read_csv('../data_sets/single_family_home_values.csv')
df = df.dropna()

In [38]:
X = df[['bedrooms','bathrooms','rooms','squareFootage','lotSize', 'yearBuilt','priorSaleAmount']]

# PCA : Principal Components Analysis 
    -used to explained shared variance in feature set
curse of dimensionality: 
"As the number of features or dimensions increase, the amonnt of data we need to generalize accurately grows exponetially."

In [39]:
pca= PCA(n_components=4)

In [40]:
X

,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,priorSaleAmount
0,3,2.0,6,1378,9968,2003.0,165700.0
3,4,3.0,0,2400,11500,1956.0,0.0
4,3,4.0,8,2305,5600,1998.0,0.0
5,3,5.0,7,2051,6045,1996.0,339000.0
6,4,4.0,8,2051,6315,1997.0,345000.0
...,...,...,...,...,...,...,...
14994,3,2.0,7,1913,4990,1925.0,142000.0
14996,3,3.0,11,2937,4500,1890.0,557500.0
14997,3,5.0,7,2937,4680,2007.0,1208214.0
14998,3,4.0,10,3193,4970,2005.0,405000.0
14999,3,5.0,9,3193,4364,2001.0,925000.0

In [41]:
X.shape

(11078, 7)

In [42]:
X_transformed = pca.fit_transform(X)

In [43]:
X_transformed.shape

(11078, 4)

In [45]:
pca.components_.shape

(4, 7)

In [59]:
pca.components_

array([[ 5.52398650e-07,  1.55543596e-06,  2.12570943e-06,
         1.20723111e-03,  1.68705547e-03,  1.00999964e-05,
         9.99997848e-01],
       [ 4.29584566e-05,  8.10488486e-05,  6.61038253e-05,
         8.21768165e-02,  9.96608592e-01,  3.88617613e-03,
        -1.78058375e-03],
       [-7.74904709e-04, -1.13439951e-03, -1.96339095e-03,
        -9.96614094e-01,  8.21768501e-02,  6.61079723e-04,
         1.06450862e-03],
       [ 3.91464909e-03, -4.34195290e-03,  7.21824327e-03,
        -3.51729211e-04,  3.92791692e-03, -9.99949083e-01,
         3.88674253e-06]])

In [60]:
pca.components_[0]

array([5.52398650e-07, 1.55543596e-06, 2.12570943e-06, 1.20723111e-03,
       1.68705547e-03, 1.00999964e-05, 9.99997848e-01])

In [62]:
y= df.estimated_value

In [63]:
y

0         239753
3         494073
4         513676
5         496062
6         514953
          ...
14994     784955
14996     807306
14997    1737156
14998    2008794
14999    1421401
Name: estimated_value, Length: 11078, dtype: int64

In [65]:
lg = LinearRegression()

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y)

In [68]:
lg.fit(X_train, y_train)
lg.score(X_test, y_test) # can compare this to score generated on previous regressions

0.7410524847309248